/* ==============================
   THEATRE - BASE STYLES
   ============================== */

/* VARS */

$stories: 
	theatre-series-portrait-of-the-artist
	theatre-series-taking-center-stage
	theatre-series-backstage-pass
	theatre-series-the-plays-the-thing
	theatre-series-amanda-downing-carney;

$playbill: #ffe200;
$story-1-color: #ff223b;
$story-2-color: #ffca25;
$story-3-color: #e0cddb;
$story-4-color: #fff465;
$story-5-color: #70ffda;

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Zilla+Slab');

@font-face {
	font-family: "Coolvetica";
	src: url( f/coolvetica_rg.ttf );
}

/* STYLES */

body:not(.home) .globalnav {
	display: none;
}

body {
	position: relative;
}

#main {
	margin-bottom: 0;
	padding-bottom: 0;
}

.post-navigation {
	display: none;
}

.scene-header {
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
}

#story-hero {
	
	position: relative;
	
	img {
		width: 100vw;
		height: auto;
		display: block;
		padding: 0;
	}

	h1 {
		position: absolute;
		font-family: "Coolvetica", serif;
		font-size: 11.5vw;
		left: 0;
		line-height: 9.5vw;
	}
	
}

.story-content-wrapper {
	background: #fafafa;
}

.story-content {
	font-family: "Zilla Slab", "Charter", serif;
	font-size: 1.1rem;
	max-width: 650px;
	padding-top: 4rem;
	padding-bottom: 8rem;
}

#intro p:first-child,
.story-content p:first-child,
.profile p:first-of-type {
	
	&:first-letter {
		float: left;
		font-size: 4.5rem;
		font-family: "Coolvetica";
		line-height: 3rem;
		padding-top: 10px;
		padding-right: 8px;
	}
	
}
	

.artboard {
	
	margin-top: 4rem;
	margin-bottom: 4rem;
	
	img {
		margin: 0;
		padding: 0;
	}
	
}
