/* ==============================
   THEATRE - BASE STYLES
   ============================== */

/* VARS */

$stories: 
	theatre-series-portrait-of-the-artist
	theatre-series-two
	theatre-series-three
	theatre-series-four
	theatre-series-five;

$playbill: #ffe200;

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Zilla+Slab');

@font-face {
	font-family: "Coolvetica";
	src: url( f/coolvetica_rg.ttf );
}

/* STYLES */

.globalnav {
	display: none;
}

body {
	position: relative;
	background: #000;
}

#main {
	margin-bottom: 0;
	padding-bottom: 0;
}

.post-navigation {
	display: none;
}

.scene-header {
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
}

#story-hero {
	
	position: relative;
	
	img {
		width: 100%;
		height: auto;
		display: block;
	}

	h1 {
		position: absolute;
		font-family: "Coolvetica", serif;
		font-size: 11.5vw;
		top: 10vw;
		left: 0;
		max-width: 60%;
		color: #ff223b;
		line-height: 9.5vw;
	}
	
}

#deck-wrapper {
	background: #000;
}

#deck {

	padding-top: 4rem;
	padding-bottom: 4rem;
	
	p {
		font-family: "Zilla Slab", "Charter", serif;
		color: #fff;
		max-width: 650px;
		margin: 0 auto 2rem;
		font-size: 1.5rem;
		font-weight: 600;
		text-align: center;
		letter-spacing: 2px;
	}
	
	p:nth-child(2) {
		color: #ff223b;
	}
	
}

.story-content-wrapper {
	background: #fafafa;
}

.story-content {
	
	font-family: "Zilla Slab", "Charter", serif;
	font-size: 1.1rem;
	max-width: 650px;
	padding-top: 4rem;
	padding-bottom: 8rem;
	
	p:first-child:first-letter {
		float: left;
		font-size: 4.5rem;
		font-family: "Coolvetica";
		line-height: 3rem;
		padding-top: 10px;
		padding-right: 8px;
		color: #ff223b;
	}
	
}

.artboard {
	
	margin-top: 4rem;
	margin-bottom: 4rem;
	
	img {
		margin: 0;
		padding: 0;
	}
	
}
