/* ==============================
   EARHART HOMEPAGE HERO
   ============================== */

@import url('https://fonts.googleapis.com/css?family=Muli:900|Montserrat:300');

#earhart-hero .cl-hero {

  .block {
    background: none;
    text-align: left;
  }

  .still {
    background-position: 70% center;
  }

  h1 {
    font-family: "Muli", "Lato", "Hind", Arial, sans-serif;
    text-align: left;
    max-width: 500px;
    padding-left: 0;
  }

}
