/* ==============================
   EARHART
   ============================== */

@import url('https://fonts.googleapis.com/css?family=Muli:900|Montserrat:300');

@import 'partials/hero';

body {
	background: #c3d5da;
}

.globalnav {
	display: none;
}

.artboard {

	position: relative;
	width: 100vw;
	left: -25px;
	margin: 3rem 0;

	&.fitted {
		margin: 0;
	}

	img {
		padding: 0;
		display: block;
	}

}

@media screen and (min-width:700px) {
	.artboard {

		width: 700px;
		left: -50px;

		&.fullwidth {
			width: 100%;
			left: 0;
		}

	}
}

#story {

	position: relative;

	.content-width {
		max-width: 600px;
		position: relative;
	}

	.section {

		position: relative;
		padding-bottom: 6rem;

		&:not(:first-child):before {
			display: block;
			content: '';
			z-index: 1;
			width: 50px;
			height: 50px;
			position: absolute;
			left: calc( 50% - 25px );
			top: -25px;
			background-image: url('i/compass.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
		}

	}

	.section-header {

		position: relative;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		font-family: "Montserrat", "Roboto Mono", monospace;

		p {
			margin: 0;
		}

		&:after {
			display: block;
			content: '';
			width: 200px;
			height: 1px;
			background: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
		}

	}

	.coords {
		font-size: 3rem;
		line-height: 3rem;
	}

}

#story-section-1 {
	padding-top: 50vh;
	background-image: url('i/ocean_bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center bottom;
	color: #36566f;
}

#story-section-2 {
	padding-top: 6rem;
	background-color: #4b291e;
	color: #c3d5da;
}

#story-section-3 {

	padding-top: 0;
	background-color: #000;
	color: #fff;

	.artboard {
		z-index: 0;
	}

	.content-width {
		z-index: 2;
		margin-top: -18vw;
	}

}
