/* ==============================
   WHY HIP HOP MATTERS: STAKING ITS CLAIM
   ============================== */

@import 'partials/base';
@import 'partials/nav';

#story-hero {
	
	border-bottom-color: $theme-color-track-4;
	margin-bottom: 4rem;
	
	.superhead {
	
		color: $theme-color-track-4;

		&:after {
			background: $theme-color-track-4;
		}

	}
	
}

@media screen and (min-width:1000px) {
	#story-hero {
		margin-bottom: 6rem;
	}
}
