/* ==============================
   BLUE MINDS - STORIES
   ============================== */


.bm-story-header-wrapper {
  background: linear-gradient(to top right, #003a5b, #000222);
  padding: 3rem 0;
  margin-bottom: 1rem;
}

.bm-story-header {

  h1 {
    font-weight: 700;
    font-family: $font-red-hat;
    width: 70%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    text-transform: lowercase;

    span {
      display: block;
      font-family: "Roboto Mono", monospace;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 1.4rem;
    }

  }

  h2 {

    font-family: $font-red-hat;
    width: 100%;
    max-width: 700px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin-bottom: 1rem;
    color: #fff;

    span {
      color: #00b2ff;
    }

  }

}

.bm-story-hero {

  margin-bottom: 3rem;

  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

}

.bm-story-content {

  width: 100%;
  max-width: 700px;
  margin: 0 auto 5rem;

  p:first-child:first-letter {
		color: #000;
		float: left;
		font-size: 4.5rem;
		font-family: $font-red-hat;
		line-height: 3rem;
		padding-top: 14px;
		padding-right: 8px;
	}

  h3 {
    font-family: $font-red-hat;
    width: 100%;
    max-width: 700px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

}

.bm-combined-page-visible {
  display: none;
}

.bm-artwork {

  display: block;
  width: 100vw;
  margin-left: -25px;

  .bm-artwork-image img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .bm-artwork-caption {
    background: #fff;
    padding: 2rem 25px;
    font-family: $font-red-hat;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
  }

  .bm-artwork-credit {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: .8rem;
    margin-top: .5rem;
  }

}


@media screen and (min-width:600px) {

  .bm-story-header {

    h1 span {
      display: initial;
      margin-left: 1rem;
    }

  }

}

@media screen and (min-width:750px) {

  .bm-artwork {
    margin-left: calc( (-100vw + 700px) / 2 );
  }

}

@media screen and (min-width:800px) {

  .bm-artwork {

    width: 800px;
    margin-left: -50px;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .bm-artwork-caption {
      padding: 2rem;
    }

  }

}

@media screen and (min-width:1000px) {

  .bm-artwork {

    width: 1000px;
    margin-left: -150px;
    display: flex !important;

    .bm-artwork-image {
      width: 700px;
    }

    .bm-artwork-caption {
      width: 300px;
    }

  }

}


/* COMBINED PAGE RENDERING */

.story-body {

  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  color: #fff;

  h1, h2, h3 {
    color: #fff;
  }

}

.story-content {

  position: relative;

  &:after {
    position: absolute;
    left: calc( 50% - 25px );
    bottom: -3rem;
    content: '';
    display: block;
    width: 50px;
    height: 30px;
    background-image: url('i/endmark.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }

  .bm-story-masthead {
    display: none;
  }

  .bm-story-content {

    p:first-child:first-letter {
  		color: #fff;
  	}

    a {
      color: #00b2ff;
    }

  }

  .bm-combined-page-visible {
    display: block;
  }

}
