/* ==============================
   WHY HIP HOP MATTERS - NAVIGATION
   ============================== */

.nav-hip-hop-wrapper {
	
	input {
		display: none;
	}

	label {
		
		display: block;
		width: 100%;
		padding: 1rem 0;
		text-align: center;
		font-family: "Oswald", "Hind", "Arial", sans-serif;
		font-size: 1rem;
		text-transform: uppercase;
		
		&:hover {
			cursor: pointer;
		}

		span {
			
			position: relative;
			display: inline-block;
			padding-right: 30px;
			
			&:after {
				position: absolute;
				display: block;
				content: '';
				top: calc( 50% - 4px );
				right: 0;
				width: 9px;
				height: 9px;
				overflow: hidden;
				background-image: url('i/close.png');
				background-repeat: no-repeat;
				background-position: left center;
				background-size: auto 9px;
				transform: rotate(-45deg);
				transition: transform .2s ease-in-out;
			}
			
		}
		
	}

	input:checked {
		
		& ~ label {
			
			border-bottom: 1px solid #fff;
			
			span:after {
				transform: rotate(0);
			}
			
		}

		& ~ nav.hip-hop {
			display: block;
		}
		
	}
	
}

#feature-hero .nav-hip-hop-wrapper {
	
	input,
	label {
		display: none;
	}
	
}

nav.hip-hop {
	
	display: none;
	overflow: hidden;
	background: #000;
	
	a {
		
		display: block;
		width: 100%;
		height: 100%;
		font-family: "Bungee", "Lato", "Hind", "Arial", sans-serif;
		transition: all .1s ease-in-out;
		
		span {
			display: block;
		}
		
	}

	&>div.disabled a {
		opacity: .4;
		pointer-events: none;
	}

	.nav-content {
		box-sizing: border-box;
		width: 100%;
		max-width: 200px;
		padding: 1rem;
		font-size: 1rem;
	}

	.nav-track {
		font-family: "Oswald", "Hind", "Arial", sans-serif;
		font-size: .8rem;
		text-transform: uppercase;
	}
	
}

#feature-hero {
	
	nav.hip-hop {
		margin-bottom: 3rem;
		display: block;
	}

	&.hip-hop-from-masta-to-legend nav.hip-hop div.nav-hip-hop-from-masta-to-legend,
	&.hip-hop-getting-to-the-truth nav.hip-hop div.nav-hip-hop-getting-to-the-truth,
	&.hip-hop-making-a-stand nav.hip-hop div.nav-hip-hop-making-a-stand,
	&.hip-hop-track-4 nav.hip-hop div.nav-hip-hop-track-4,
	&.hip-hop-finding-a-voice nav.hip-hop div.nav-hip-hop-finding-a-voice {

		.nav-title {
			display: none;
		}
		
	}
	
}

@media screen and (min-width: 1000px) {

	.nav-hip-hop-wrapper {
		input,
		label {
			display: none;
		}
	}

	nav.hip-hop,
	#feature-hero nav.hip-hop,
	.nav-hip-hop-wrapper input:checked ~ nav.hip-hop,
	#feature-hero .nav-hip-hop-wrapper input:checked ~ #feature-hero nav.hip-hop {
		display: flex;
	}

	nav.hip-hop>div {
		flex: 1;
	}

}


/* TRACKS */

/* Track 1: From Masta to Legend */

body.ln-hip-hop-from-masta-to-legend .nav-hip-hop-wrapper label {
	color: #fff;
	background: $theme-color-track-1;
}

body.ln-hip-hop-from-masta-to-legend,
#feature-hero.hip-hop-from-masta-to-legend {
	
	nav.hip-hop {
		
		a {
		
			color: $theme-color-track-1;

			&:hover {
				color: #fff;
				background: $theme-color-track-1;
			}

		}
	
		div.nav-hip-hop-from-masta-to-legend a {
			color: #fff;
			background: $theme-color-track-1;
		}
		
	}
	
}


/* Track 2: Hip Hop is Getting to the Truth */

body.ln-hip-hop-getting-to-the-truth .nav-hip-hop-wrapper label {
	color: #fff;
	background: $theme-color-track-2; /* #c62d44 */
}

body.ln-hip-hop-getting-to-the-truth,
#feature-hero.hip-hop-getting-to-the-truth {
	
	nav.hip-hop {
		
		a {
			color: $theme-color-track-2;
			
			&:hover {
				color: #fff;
				background: $theme-color-track-2;
			}
			
		}
		
		div.nav-hip-hop-getting-to-the-truth a {
			color: #fff;
			background: $theme-color-track-2;
		}
		
	}
	
}


/* Track 3: Hip Hop is Making a Stand */

body.ln-hip-hop-making-a-stand .nav-hip-hop-wrapper label {
	color: #fff;
	background: $theme-color-track-3;
}

body.ln-hip-hop-making-a-stand,
#feature-hero.hip-hop-making-a-stand {
	
	nav.hip-hop {
		
		a {
			color: $theme-color-track-3;
			
			&:hover {
				color: #fff;
				background: $theme-color-track-3;
			}
			
		}
		
		div.nav-hip-hop-making-a-stand a {
			color: #fff;
			background: $theme-color-track-3;
		}
		
	}
	
}


/* Track 4:  */

body.ln-hip-hop-track-4 .nav-hip-hop-wrapper label {
	background: $theme-color-track-4;
}

body.ln-hip-hop-track-4,
#feature-hero.hip-hop-track-4 {
	
	nav.hip-hop {
		
		a {
			color: $theme-color-track-4;
			
			&:hover {
				color: #000;
				background: $theme-color-track-4;
			}
			
		}
		
		div.nav-hip-hop-track-4 a {
			color: #000;
			background: $theme-color-track-4;
		}
		
	}
	
}


/* Track 5: Hip Hop is Finding A Voice */

body.ln-hip-hop-finding-a-voice .nav-hip-hop-wrapper label {
	
	background: $theme-color-track-5;
	
	span:after {
		background-position: right center;
	}
	
}

body.ln-hip-hop-finding-a-voice,
#feature-hero.hip-hop-finding-a-voice {
	
	nav.hip-hop {
		
		a {
			color: $theme-color-track-5;
			
			&:hover {
				color: #000;
				background: $theme-color-track-5;
			}
			
		}
		
		div.nav-hip-hop-finding-a-voice a {
			color: #000;
			background: $theme-color-track-5;
		}
		
	}
	
}
