/* ==============================
   WHY HIP HOP MATTERS: FINDING A VOICE
   ============================== */

@import 'partials/base';
@import 'partials/nav';

#story-hero {
	border-bottom: 20px solid #000;
	margin-bottom: 4rem;
}

@media screen and (min-width:600px) {
	#story-hero {
		border-bottom: none;
	}
}

@media screen and (min-width:1000px) {
	#story-hero {
		margin-bottom: 6rem;
	}
}

#story-hero .superhead {
	color: #edbf1f;
}

#story-hero .superhead:after {
	background: #edbf1f;
}
