/* ==============================
   WHY HIP HOP MATTERS: GETTING TO THE TRUTH
   ============================== */

@import 'partials/base';
@import 'partials/nav';

#story-hero {
	
	border-bottom: 20px solid #000;
	margin-bottom: 4rem;
	
	.superhead {

		color: #bc3833;

		&:after {
			background: #bc3833;
		}

	}
	
}

@media screen and (min-width:600px) {
	#story-hero {
		border-bottom: none;
	}
}

@media screen and (min-width:1000px) {
	#story-hero {
		margin-bottom: 6rem;
	}
}
