/* ==============================
   WHY HIP HOP MATTERS: MAKING A STAND
   ============================== */

@import 'partials/base';
@import 'partials/nav';

#story-hero {
	
	border-bottom: 20px solid #000;
	margin-bottom: 4rem;
	
	.superhead {
	
		color: $theme-color-track-3-text;

		&:after {
			background: $theme-color-track-3-text;
		}

	}
	
}

@media screen and (min-width:600px) {
	#story-hero {
		border-bottom: none;
	}
}

@media screen and (min-width:1000px) {
	#story-hero {
		margin-bottom: 6rem;
	}
}
