/* ==============================
   FIRST AMENDMENT STYLES
   ============================== */

// FONTS
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Display|Petit+Formal+Script|Ubuntu+Mono&display=swap');
$type-header: "Libre Caslon Display", "Charter", "Georgia", "Times New Roman", serif;
$type-intro: "Ubuntu Mono", monospace;

// COLORS
$yellow: #fed919;

// INCLUDES

@import 'partials/base';
@import 'partials/hero';
@import 'partials/video';
@import 'partials/story';
