/* ==============================
   OFFSHORE WIND - BASE STYLES
   ============================== */

/* COLORS */

$theme-color-generic: #0e93ce;
$theme-color-track-1: #37a588;
$theme-color-track-2: #bc3833;
$theme-color-track-3: #db6ce0;
$theme-color-track-3-text: #e251e8;
$theme-color-track-4: #94af00; //239ee0
$theme-color-track-5: #fad556;
$theme-color-track-5-text: #d89704;