/* ==============================
   OFFSHORE WIND - NAVIGATION
   ============================== */

.nav-offshore-wrapper {
	
	input {
		display: none;
	}

	label {
		
		display: block;
		width: 100%;
		padding: 1rem 0;
		text-align: center;
		font-family: "Abel", "Hind", "Arial", sans-serif;
		font-size: 1rem;
		text-transform: uppercase;
		
		&:hover {
			cursor: pointer;
		}

		span {
			
			position: relative;
			display: inline-block;
			padding-right: 30px;
			
			&:after {
				position: absolute;
				display: block;
				content: '';
				top: calc( 50% - 4px );
				right: 0;
				width: 9px;
				height: 9px;
				overflow: hidden;
				background-image: url('i/close.png');
				background-repeat: no-repeat;
				background-position: left center;
				background-size: auto 9px;
				transform: rotate(-45deg);
				transition: transform .2s ease-in-out;
			}
			
		}
		
	}

	input:checked {
		
		& ~ label {
			
			border-bottom: 1px solid #fff;
			
			span:after {
				transform: rotate(0);
			}
			
		}

		& ~ nav.offshore {
			display: block;
		}
		
	}
	
}

#feature-hero .nav-offshore-wrapper,
.offshore-navigation-wrapper.footer {
	
	input,
	label {
		display: none;
	}
	
}

nav.offshore {
	
	display: none;
	overflow: hidden;
	background: #000;
	
	a,
	span.disabled-link {
		
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		font-family: "Laila", "El Messiri", "Hind", "Arial", sans-serif;
		transition: all .1s ease-in-out;
		
		span {
			display: block;
		}
		
	}

	span.disabled-link {
		opacity: .4;
	}

	.nav-content {
		box-sizing: border-box;
		width: 100%;
		max-width: 200px;
		padding: 1rem 1rem 1rem 25px;
		font-size: 1rem;
	}

	.nav-story {
		font-family: "Abel", "Hind", "Arial", sans-serif;
		font-size: .8rem;
		text-transform: uppercase;
	}
	
}

#feature-hero,
.offshore-navigation-wrapper.footer {
	
	nav.offshore {
		display: block;
	}
	
	@each $t in $tracks {
		
		&.#{$t} nav.offshore div.nav-#{$t} .nav-title {
			display: none;
		}
		
	}
	
}

/* FOOTER NAV */

.offshore-navigation-wrapper.footer nav.offshore {
	
	background: #eee;
	border-bottom: 20px solid #000;
	
	a,
	span.disabled-link {
		color: #000;
	}

	a:hover {
		color: #fff;
		background: #000;
	}
	
}

@each $t in $tracks {
	
	body.ln-#{$t} .hip-hop-navigation-wrapper.footer nav.hip-hop div.nav-#{$t} {
		
		a,
		span.disabled-link {
		
			color: #fff;
			background: #000;

		}
		
	}
	
}

@media screen and (min-width: 1000px) {

	.nav-offshore-wrapper {
		input,
		label {
			display: none;
		}
	}

	nav.offshore,
	#feature-hero nav.offshore,
	.offshore-navigation-wrapper.footer nav.offshore,
	.nav-offshore-wrapper input:checked ~ nav.offshore,
	#feature-hero .nav-offshore-wrapper input:checked ~ #feature-hero nav.offshore,
	.offshore-navigation-wrapper.footer .nav-offshore-wrapper input:checked ~ .offshore-navigation-wrapper.footer nav.offshore {
		display: flex;
	}

	nav.offshore>div {
		flex: 1;
	}
	
	.offshore-navigation-wrapper.footer nav.offshore .nav-content {
		padding: 3rem 1rem;
	}
	
	@each $t in $tracks {
		
		body.ln-#{$t} .offshore-navigation-wrapper.footer nav.offshore div.nav-#{$t} {
			
			a:before
			span.disabled-link:before {
				position: absolute;
				left: calc( 50% - 15px );
				top: -15px;
				display: block;
				content: '';
				width: 30px;
				height: 30px;
				background: #fafafa;
				transform: rotate(45deg);
			}
			
		}
		
	}

}


/* TRACKS */

/* Generic */

#feature-hero.offshore-generic {
	
	nav.offshore {
		
		a,
		span.disabled-link {
			color: #fff;
		}

		a:hover {
			color: #fff;
			background: $theme-color-generic;
		}
		
	}
	
	.cl-hero .cl-button {
		background: #0e93ce;
		color: #fff;
	}
	
}

/* Story 1: 'There was trust' */

body.ln-#{nth($stories, 1)} .nav-offshore-wrapper label {
	color: #fff;
	background: $theme-color-story-1;
}

body.ln-#{nth($stories, 1)},
#feature-hero.#{nth($stories, 1)} {
	
	nav.offshore {
		
		a,
		span.disabled-link {
			color: $theme-color-story-1;
		}

		a:hover {
			color: #fff;
			background: $theme-color-story-1;
		}
	
		div.nav-#{nth($stories, 1)} a {
			color: #fff;
			background: $theme-color-story-1;
		}
		
	}
	
}


/* Story 2: Why should we care about the roseate tern? */

body.ln-#{nth($stories, 2)} .nav-offshore-wrapper label {
	color: #fff;
	background: $theme-color-story-2; /* #46847e */
}

body.ln-#{nth($stories, 2)},
#feature-hero.#{nth($stories, 2)} {
	
	nav.offshore {
		
		a,
		span.disabled-link {
			color: $theme-color-story-2;
		}
			
		a:hover {
			color: #fff;
			background: $theme-color-story-2;
		}
		
		div.nav-#{nth($stories, 2)} a {
			color: #fff;
			background: $theme-color-story-2;
		}

	}
	
}


/* Story 3: Who Counts */

body.ln-#{nth($stories, 3)} .nav-offshore-wrapper label {
	color: #fff;
	background: $theme-color-story-3;
}

body.ln-#{nth($stories, 3)},
#feature-hero.#{nth($stories, 3)} {
	
	nav.offshore {
		
		a,
		span.disabled-link {
			color: $theme-color-story-3;
		}
			
		a:hover {
			color: #fff;
			background: $theme-color-story-3;
		}
		
		div.nav-#{nth($stories, 3)} a {
			color: #fff;
			background: $theme-color-story-3;
		}

	}
	
}


/* Story 4: Winners and Losers */

body.ln-#{nth($stories, 4)} .nav-offshore-wrapper label {
	color: #fff;
	background: $theme-color-story-4;
}

body.ln-#{nth($stories, 4)},
#feature-hero.#{nth($stories, 4)} {
	
	nav.offshore {
		
		a,
		span.disabled-link {
			color: $theme-color-story-4;
		}
			
		a:hover {
			color: #fff;
			background: $theme-color-story-4;
		}
		
		div.nav-#{nth($stories, 4)} a {
			color: #fff;
			background: $theme-color-story-4;
		}

	}
	
}



