/* ==============================
   SPACE INVADERS
   ============================== */

@import url("https://fonts.googleapis.com/css?family=Titillium+Web|Press+Start+2P");
@import 'partials/creatures';
@import 'partials/habitats';
@import 'partials/story';

.globalnav {
	display: none;
}

#page {
	background: #fff;
}

.entry-content {
	padding: 0 0 5rem;
}

#creature-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 15;
}

#scoreboard {
	
	position: relative;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
	margin: 0 auto 4rem;
	background: #000;
	color: #fff;
	font-family: "Press Start 2P", "Roboto Mono", "Lato", sans-serif;
	transition: all .2s ease-in-out;
	
	&.fixed {
		
		position: fixed;
		max-width: 100%;
		
		#scores {
			padding: 1rem;
		}
		
		.score {
			font-size: 1rem;
		}
		
		.label {
			font-size: .8rem;
		}

	}
	
	#scores {
		
		display: flex;
		width: 100%;
		padding: 2rem;
		box-sizing: border-box;
		
		&>div {
			flex: 1;
			text-align: center;
		}
		
	}
	
	#progress {
		position: relative;
		width: 100%;
		height: 30px;
		background: #333;
		font-size: .5rem;
		line-height: 30px;
	}
	
	#progress-label {
		position: absolute;
		top: 0;
		right: 0;
		height: 30px;
	}
	
	#progress-bar {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 30px;
		background: #a4d842;
		
		&.alert {
			background: #ffff38;
		}
		
		&.warning {
			background: #ff8c38;
		}
		
		&.danger {
			background: #d95858;
		}

	}
	
	.score {
		font-size: 1.5rem;
		margin-bottom: .5rem;
	}
	
	.label {
		font-size: 1rem;
	}
	
	#spawned .score {
		color: #4bbed3;
	}
	
	#removed .score {
		color: #a4d842;
	}
	
	#remaining .score {
		color: #d95858;
	}
	
}
