/* ==============================
   SPACE INVADERS
   ============================== */

@import url("https://fonts.googleapis.com/css?family=Titillium+Web|Press+Start+2P");
@font-face {
	font-family: "VCR Mono";
	src: url(fonts/vcr_osd_mono.ttf);
}

@import 'partials/creatures';
@import 'partials/habitats';
@import 'partials/scoreboard';
@import 'partials/interface';

.globalnav {
	display: none;
}

#globalfooter {
	padding-bottom: 12rem;
}

#page {
	background: #fff;
}

.entry-content {
	padding: 0 0 5rem;
}

.content-body {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	font-family: "Titillium Web", "Roboto Mono", "Hind", sans-serif;
	font-size: 1.1rem;
}

.artboard {
	
	margin-bottom: 4rem;
	text-align: center;

	&:after {
		display: block;
		content: '';
		clear: both;
	}
	
}
