/* ==============================
   THEATRE - BACKSTAGE PASS
   ============================== */

@import 'partials/base';
@import 'partials/nav';
@import 'partials/specks';

body {
	background: #00202e;
}

#story-hero h1 {
	top: 8vw;
	max-width: 60%;
	color: $story-3-color;
}

#deck-wrapper {
	background: #000;
}

#deck {

	padding-top: 4rem;
	padding-bottom: 4rem;
	
	p {
		font-family: "Zilla Slab", "Charter", serif;
		color: #fff;
		max-width: 650px;
		margin: 0 auto 4rem;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: center;
		letter-spacing: 2px;
	}
	
	p:last-child {
		color: #48c8e0;
	}
	
}

.story-direction-wrapper {
	padding-top: 60vh;
	padding-bottom: 60vh;
	background: linear-gradient( to bottom, rgba(0,0,0,1), rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 90%);
}

.story-direction {	
	font-family: "Cutive Mono", "Special Elite", "Charter", serif;
	font-size: 1rem;
	max-width: 450px;
	color: #fff;
}

.story-content-wrapper img {
	margin: 0;
	padding: 0;
}