/* ==============================
   FROM MASTA TO LEGEND
   ============================== */

@import url("https://fonts.googleapis.com/css?family=Bungee|Oswald:300|Averia+Serif+Libre:300");

#page {
	-webkit-font-smoothing: antialiased;
}

.globalnav {
	display: none;
}

.oembed {
	margin: 3rem 0;
}

.oembed iframe {
	margin: 0 auto;
}

#story-hero {
	display: block;
	margin-bottom: 2px;
}

#story-hero>div:nth-child(1) {
	flex-basis: 65%;
	width: 100%;
	height: 40vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#story-hero>div:nth-child(2) {
	flex-basis: 35%;
	box-sizing: border-box;
	padding: 2rem 2rem 0;
	background: #fff;
}

#story-hero img {
	padding: 0;
}

#story-hero .superhead {
	 display: none;
}

#story-hero h1 {
	max-width: 500px;
	font-family: "Bungee", "Lato", "Hind", "Arial", sans-serif;
	font-size: 4rem;
	margin-bottom: 2rem;
}

#story-hero .deck {
	font-family: "Oswald", "Hind", "Arial", sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
	#story-hero {
		display: flex;
	}
	#story-hero>div:nth-child(1) {
		width: initial;
		height: initial;
	}
	#story-hero h1 {
		font-size: 3rem;
	}
	#story-hero .deck {
		font-size: 1rem;
	}
}

@media screen and (min-width: 800px) {
	#story-hero h1 {
		font-size: 4rem;
		margin-bottom: 3rem;
	}
	#story-hero .deck {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1000px) {
	#story-hero>div:nth-child(2) {
		padding: 1.5rem 3rem 1rem;
	}
	#story-hero .superhead {
		position: relative;
		display: block;
		font-family: "Oswald", "Hind", "Arial", sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 1rem;
		color: #37a588;
		margin-bottom: 14px;
		padding-bottom: 10px;
	}

	#story-hero .superhead:after {
		position: absolute;
		display: block;
		content: '';
		bottom: 0;
		background: #37a588;
		width: 60px;
		height: 1px;
		transition: width .2s ease-in-out;
	}
	#story-hero .superhead:after {
		width: 60px;
	}
	#story-hero h1 {
		font-size: 5rem;
	}
	#story-hero .deck {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 1400px) {
	#story-hero>div:nth-child(2) {
		padding: 2.5rem 4rem 2rem;
	}
	#story-hero .superhead {
		font-size: 1.2rem;
	}
	#story-hero .superhead:after {
		width: 80px;
	}
	#story-hero h1 {
		font-size: 6rem;
	}
	#story-hero .deck {
		font-size: 2rem;
	}
}

#story {
	max-width: 600px;
	margin: 0 auto 5rem;
	font-size: 1.1rem;
}

.section {
	padding-bottom: 3rem;
}

.section p:first-child:first-letter {
	color: #000;
	float: left;
	font-size: 4.5rem;
	font-family: "Bungee";
	line-height: 3rem;
	padding-top: 7px;
	padding-right: 8px;
}

.nowrap {
	white-space: nowrap;
}

.passage-wrapper {
	margin-bottom: 6rem;
	padding: 3rem 0;
	background-color: #000;
}

@keyframes rotate-hue {
	to { filter: hue-rotate(360deg) };
}

@keyframes move-background {
	to { background-position: center bottom };
}

.passage-wrapper:after {
	position: absolute;
	bottom: -20px;
	display: block;
	content: '';
	width: 100%;
	height: 20px;
	background-image: url(i/graffiti_bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 400% auto;
	filter: hue-rotate(0);
	animation: rotate-hue 10s linear infinite, move-background 30s linear infinite alternate;
}

@media screen and (min-width: 600px) {
	.passage-wrapper:before {
		background-size: 300% auto;
	}
}

@media screen and (min-width: 900px) {
	.passage-wrapper:before {
		background-size: 200% auto;
	}
}

@media screen and (min-width: 1200px) {
	.passage-wrapper:before {
		background-size: cover;
	}
}

.passage {
	max-width: 600px;
	font-family: "Averia Serif Libre", "Lato", "Hind", "Arial", sans-serif;
	font-weight: 300;
	font-size: .9rem;
	color: #fff;
	line-height: 1.3rem;
}

.passage p {
	padding-left: 1rem;
	text-indent: -1rem;
}

.passage p:not(:last-of-type) {
	margin-bottom: 0;
}

@media screen and (min-width: 400px) {
	.passage {
		font-size: 1.1rem;
	}
}

.passage .part,
.passage .attribution {
	color: #37a588; /* #528b98 */
	font-size: .9rem;
}

.passage .part {
	text-transform: uppercase;
	margin-bottom: .5rem;
}

.image {
	position: relative;
}

.image img {
	width: 100%;
	height: auto;
	padding: 0;
	margin-bottom: 2px;
}

.image .caption {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	padding: 1rem;
	max-width: calc( 100% - 2rem );
	box-sizing: border-box;
	background: rgba(0,0,0,.8);
	font-family: "Oswald", "Hind", "Arial", sans-serif;
	font-size: .9rem;
	color: #fff;
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.image:hover .caption,
.image:focus .caption {
	opacity: 1;
}

.image .credit {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid rgba(255,255,255,.3);
	color: rgba(255,255,255,.7);
	font-size: .7rem;
}

.image .credit a,
.image .credit a:hover,
.image .credit a:focus {
	color: inherit;
	text-decoration: underline;
}
