/* ==============================
   WHY HIP HOP MATTERS - NAVIGATION
   ============================== */

.nav-hip-hop-wrapper input {
	display: none;
}

.nav-hip-hop-wrapper label {
	display: block;
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	font-family: "Oswald", "Hind", "Arial", sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
}

.nav-hip-hop-wrapper label:hover {
	cursor: pointer;
}

.nav-hip-hop-wrapper label span {
	position: relative;
	display: inline-block;
	padding-right: 30px;
}

.nav-hip-hop-wrapper label span:after {
	position: absolute;
	display: block;
	content: '';
	top: calc( 50% - 4px );
	right: 0;
	width: 9px;
	height: 9px;
	background-image: url('i/close.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 9px auto;
	transform: rotate(-45deg);
	transition: transform .2s ease-in-out;
}

.nav-hip-hop-wrapper input:checked ~ label {
	border-bottom: 1px solid #fff;
}

.nav-hip-hop-wrapper input:checked ~ label span:after {
	transform: rotate(0);
}

.nav-hip-hop-wrapper input:checked ~ nav.hip-hop {
	display: block;
}

nav.hip-hop {
	display: none;
	overflow: hidden;
	background: #000;
}

nav.hip-hop a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: "Bungee", "Lato", "Hind", "Arial", sans-serif;
	transition: all .1s ease-in-out;
}

nav.hip-hop>div.disabled a {
	opacity: .4;
	pointer-events: none;
}

nav.hip-hop a span {
	display: block;
}

nav.hip-hop .nav-content {
	box-sizing: border-box;
	width: 100%;
	max-width: 200px;
	padding: 1rem;
	font-size: 1rem;
}

nav.hip-hop .nav-track {
	font-family: "Oswald", "Hind", "Arial", sans-serif;
	font-size: .8rem;
	text-transform: uppercase;
}


@media screen and (min-width: 1000px) {

	.nav-hip-hop-wrapper input,
	.nav-hip-hop-wrapper label {
		display: none;
	}

	nav.hip-hop {
		display: flex;
	}

	nav.hip-hop>div {
		flex: 1;
	}

}


/* TRACKS */

/* Track 1: From Masta to Legend */

body.ln-hip-hop-from-masta-to-legend .nav-hip-hop-wrapper label {
	color: #fff;
	background: #37a588;
}

body.ln-hip-hop-from-masta-to-legend nav.hip-hop div.nav-hip-hop-from-masta-to-legend a {
	color: #fff;
	background: #37a588;
}

body.ln-hip-hop-from-masta-to-legend nav.hip-hop a {
	color: #37a588;
}

body.ln-hip-hop-from-masta-to-legend nav.hip-hop a:hover {
	color: #fff;
	background: #37a588;
}

/* Track 2: Hip Hop is Getting to the Truth */

body.ln-hip-hop-getting-to-the-truth .nav-hip-hop-wrapper label {
	background: #c62d44;
}

body.ln-hip-hop-getting-to-the-truth nav.hip-hop div.nav-hip-hop-getting-to-the-truth a {
	color: #000;
	background: #c62d44;
}

body.ln-hip-hop-getting-to-the-truth nav.hip-hop a {
	color: #c62d44;
}

body.ln-james-haile-iii nav.hip-hop a:hover {
	color: #000;
	background: #c62d44;
}


/* Track 3: Hip Hop is Making a Stand */

body.ln-hip-hop-making-a-stand .nav-hip-hop-wrapper label {
	background: #fad556;
}

body.ln-hip-hop-making-a-stand nav.hip-hop div.nav-hip-hop-making-a-stand a {
	color: #000;
	background: #fad556;
}

body.ln-hip-hop-making-a-stand nav.hip-hop a {
	color: #fad556;
}

body.ln-hip-hop-making-a-stand nav.hip-hop a:hover {
	color: #000;
	background: #fad556;
}


/* Track 4:  */

body.ln-hip-hop-track-4 .nav-hip-hop-wrapper label {
	background: #fad556;
}

body.ln-hip-hop-track-4 nav.hip-hop div.nav-hip-hop-track-4 a {
	color: #000;
	background: #fad556;
}

body.ln-hip-hop-track-4 nav.hip-hop a {
	color: #fad556;
}

body.ln-hip-hop-track-4 nav.hip-hop a:hover {
	color: #000;
	background: #fad556;
}


/* Track 3: Hip Hop is Not Letting Up */

body.ln-hip-hop-not-letting-up .nav-hip-hop-wrapper label {
	background: #fad556;
}

body.ln-hip-hop-not-letting-up nav.hip-hop div.nav-hip-hop-not-letting-up a {
	color: #000;
	background: #fad556;
}

body.ln-hip-hop-not-letting-up nav.hip-hop a {
	color: #fad556;
}

body.ln-hip-hop-not-letting-up nav.hip-hop a:hover {
	color: #000;
	background: #fad556;
}
