/* ==============================
   DESIGNING FOR THE SEA AND STARS
   ============================== */

@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Economica");

#page {
	background: #000;
}

#content {
	background: linear-gradient(to bottom, #04092f 50%, #000 80%);
	color: #fff;
}

.entry-content {
	position: relative;
}

#keyframes {
	position: absolute;
	z-index: 0;
	width: 100%;
}

#story {
	position: relative;
	z-index: 10;
	max-width: 600px;
	margin: 0 auto 5rem;
	padding-bottom: 50vw;
	text-shadow: 0 0 .5rem rgba(0,0,0,.5)
}

.keyframe {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
	z-index: 0;
}

.keyframe img {
	width: 100%;
	height: auto;
	padding: 0;
}

#keyframe-backdrop-sky {
	top: 0;
}

#keyframe-backdrop-sky img {
	min-width: 1000px;
}

#keyframe-mountain-1 {
	top: -17vw;
}

#keyframe-mountain-2 {
	top: -26vw;
}

#keyframe-mountain-3 {
	top: -37vw;
}

#keyframe-mountain-4 {
	top: -46vw;
}

#keyframe-top-layer {
	z-index: 3;
	top: -62vw;
}

#keyframe-backdrop-underwater {
	z-index: 2;
	top: -97vw;
}

#story-header {
	padding: 6rem 0 4rem;
	text-align: center;
}

#story-deck {
	font-family: 'Economica', 'Hind', sans-serif;
	text-align: center;
	font-size: 2rem;
	padding-bottom: 2rem;
	text-shadow: 0 0 1rem rgba(0,0,0,.5);
}

.story-title {
	max-width: 100%;
	font-family: 'Julius Sans One', 'Lato', cursive, sans-serif;
	font-size: 7rem;
	color: #fff;
}

.story-title span {
	display: block;
	font-size: 3rem;
	margin-bottom: 1rem;
}

#progress-bar {
	width: 20px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
	background: rgba(0,0,0,.5);
}

#page-progress {
	position: relative;
	top: 0;
	width: 100%;
	height: 5px;
	background: #3dc1f2;
}

#titanic {
	width: 100vw;
	position: absolute;
	left: 50%;
	margin-left: -50vw;
	z-index: 0;
	bottom: 0;
}
	