/* ==============================
   THE INTERNATIONALISTS
   ============================== */

@import url("https://fonts.googleapis.com/css?family=Tulpen+One|Raleway:200");

.globalnav {
	display: none;
}

#hero .cl-hero {
	background: #000;
	margin-bottom: 0;
}

#hero h1 {
	font-family: "Tulpen One", "Hind", "Lato", sans-serif;
	letter-spacing: 1.2vw;
	font-size: 2rem;
	max-width: 100%;
	text-align: center;
	text-transform: lowercase;
	margin-bottom: 0;
	color: #FFC97B;
}

@media screen and (min-width: 600px) {
	#hero h1 {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 800px) {
	#hero h1 {
		font-size: 3.2rem;
	}
}

@supports ( (-webkit-background-clip: initial) and (-webkit-text-fill-color: initial) ) {
	
	#hero h1 {
		color: transparent;
		background: linear-gradient(to bottom, #C44644, #EB9E69);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		text-shadow: none;
	}
}

#hero .cl-hero .still {
	background-size: 100% auto;
}

.artboard {
	margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
	.artboard {
		width: 100vw;
		position: relative;
		left: -25px;
	}
}

.artboard img {
	width: 100%;
	height: auto;
	padding: 0;
}

.caption {
	font-size: .9rem;
	color: rgba(0,0,0,.5);
	padding: 1rem 25px 0;
	max-width: 360px;
}

@media screen and (min-width: 1000px) {
	.artboard {
		margin-bottom: 3rem;
	}
	.caption {
		padding: 1rem 0;
	}
}

.content-canvas {
	padding-top: 5rem;
	padding-bottom: 3rem;
}

.content-canvas h1 {
	font-family: "Tulpen One", "Hind", "Lato", sans-serif;
	font-size: 3rem;
	margin-bottom: 3rem;
	letter-spacing: .5rem;
	text-transform: lowercase;
}

.content-body {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
}

.section-lead {
	background: linear-gradient(#000, #3a2b24);
	color: #ccc;
	padding-top: 0;
}

.content-deck {
	font-size: 1.4rem;
	font-family: "Raleway", "Hind", sans-serif;
	margin-bottom: 4rem;
	padding-bottom: 2rem;
	color: #c19883;
}

.content-deck:after {
	display: block;
	content: '';
	width: 100%;
	position: relative;
	top: 2rem;
	height: 1px;
	background: linear-gradient(45deg, #7c5928, #913b34);
}

.content-deck p {
	width: 100%;
	max-width: 600px;
	margin: 0 auto 2rem;
	text-align: center;
}

.section-raising-the-bar {
	background: linear-gradient(#f4a974, #f0c17f);
	color: #641e07;
}

.section-raising-the-bar h1 {
	color: #ab4506;
}

.section-interwoven-cultures {
	background: linear-gradient(#fff7f7, #f0d6dd);
	color: #55022c;
}

.section-interwoven-cultures h1 {
	color: #8e5863;
}

.section-new-generation {
	background: linear-gradient(#211204, #3d1b01);
	color: #ffbda5;
}

.section-new-generation h1 {
	color: #c46a54;
}

.section-uniquely-prepared {
	background: linear-gradient(#efffff, rgba(239,255,255,0) );
}

.intl-programs {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	text-align: center;
	font-family: "Hind", sans-serif;
	font-size: .9rem;
	margin-bottom: 4rem;
}

.intl-programs>div {
	flex: 1;
	box-sizing: border-box;
	min-width: 150px;
	max-width: 200px;
	padding: 0 1.5rem;
}

.intl-programs a {
	color: #aa7161;
}

.intl-programs a:hover,
.intl-programs a:focus {
	color: inherit;
}

.intl-programs img {
	max-width: 100%;
	min-width: initial;
	width: 64px;
	margin: 0 auto;
}