/* === INTERFACE === */


.modal {
	position: fixed;
	top: 50%;
	left: 0;	
	width: 100vw;
	z-index: 50;
	transform: translate( 0, -50% );
}

#endscreen {
	
	background: #000;
	text-align: center;
	display: none;
	padding-bottom: 3rem;
	
	&.visible {
		display: block;
	}
	
	h1 {
		font-size: 3rem;
		font-family: "Press Start 2P", "Roboto Mono", "Lato", sans-serif;
		padding: 5rem 0 2rem;
		color: #fff;
	}
	
}

#story {
	position: relative;
	margin-bottom: 6rem;
}

@media screen and (min-width: 700px) {

	.modal {
		
		left: 50%;
		width: 100%;
		max-width: 800px;
		transform: translate( -50%, -50% );
		
		h1 {
			font-size: 4rem;
		}
		
	}

}

.retro-button {
	
	position: relative;
	top: 0;
	display: inline-block;
	padding: 1rem 2rem;
	color: #fff;
	font-family: "Press Start 2P", "Roboto Mono", "Lato", sans-serif;
	font-size: 1rem;
	background: #4704ca;
	border: 4px solid #fff;
	
	&:hover {
		cursor: pointer;
		top: -4px;
	}
	
}