/* === STORY === */

#startscreen {
	
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #000;
	z-index: 50;
	
	&.hidden {
		display: none;
	}
	
}

.modal {
	position: fixed;
	top: 50%;
	left: 0;	
	width: 100vw;
	z-index: 50;
	transform: translate( 0, -50% );
}

#endscreen {
	
	background: #a01010;
	text-align: center;
	display: none;
	padding-bottom: 3rem;
	
	&.visible {
		display: block;
	}
	
	h1 {
		font-size: 3rem;
		font-family: "Press Start 2P", "Roboto Mono", "Lato", sans-serif;
		padding: 5rem 0 2rem;
		color: #fff;
	}
	
}

#story {
	position: relative;
}

#story-header {
	
	background: #024761;
	text-align: center;
	position: relative;
	padding-bottom: 3rem;
	
	h1 {
		font-size: 2.2rem;
		font-family: "Press Start 2P", "Roboto Mono", "Lato", sans-serif;
		padding: 3rem 0 1rem;
		color: #fff;
	}
	
}

#story-deck {
	font-size: 1.2rem;
	line-height: 2rem;
	font-family: "Roboto Mono", "Hind", sans-serif;
	padding-bottom: 3rem;
	width: 80%;
	margin: 0 auto;
	color: #000;
}

@media screen and (min-width: 500px) {

	#story-header h1 {
		font-size: 3rem;
	}

	#story-deck {
		font-size: 1.5rem;
	}

}

@media screen and (min-width: 700px) {

	.modal {
		
		left: 50%;
		width: 100%;
		max-width: 800px;
		transform: translate( -50%, -50% );
		
		h1 {
			font-size: 4rem;
		}
		
	}

	#story-deck {
		font-size: 1.8rem;
		width: 70%;
	}

}

.retro-button {
	
	position: relative;
	top: 0;
	display: inline-block;
	padding: 1rem 2rem;
	color: #fff;
	font-family: "Press Start 2P", "Roboto Mono", "Lato", sans-serif;
	font-size: 1rem;
	
	&:hover {
		cursor: pointer;
		top: -4px;
	}
	
}

#play-game.retro-button {
	background: #7da1ff;
	box-shadow: 4px 4px 0 #5064ff;
}

#reset-game.retro-button {
	background: #814920;
	box-shadow: 4px 4px 0 #532d11;
}
	

.content-body {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	font-family: "Titillium Web", "Roboto Mono", "Hind", sans-serif;
	font-size: 1.1rem;
}

.artboard {
	
	margin-bottom: 4rem;
	text-align: center;

	&:after {
		display: block;
		content: '';
		clear: both;
	}
	
}