/* ==============================
   BREAKPOINTS
   ============================== */

$break0: 420px; // Special sub-mobile cases
$break1: 600px; // Catch phones/phablets (default, most of the time...)
$break2: 800px; // Catch small tablets
$break3: 1000px; // Catch full displays/large tablets
